.navbar {
  height: 5rem;
  width: 100vw;
  padding: 1.5rem 2rem;
  color: #fff;
  background-color: darkblue;
  display: flex;
}

.navbar ul {
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  margin-left: 1rem;
  font-size: 2rem;
  margin: 0.5rem;
}
